@import "../_NewNullStyle";
@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@400;700&display=swap");

.wrapper {
  background-color: rgb(200, 116, 116);
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  font-size: 55px;
  text-align: center;
  .tuning {
    border-radius: 10%;
    background-color: rgb(198, 64, 131);
    padding: 50px;
    animation: modal 0.8s alternate ease;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  }
}

@keyframes modal {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.center {
  border-radius: 20%;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  font-size: 50px;
  background-color: pink;
  padding: 50px;
  width: 60%;
  height: 30rem;
  margin: 0 auto;
  padding: 10% 10%;
  animation: modal 0.8s alternate ease;
}

.center-none {
  display: none;
}

.block1 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 0 30px 0;
}
.block2 {
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.inp {
}

.input {
  border-radius: 1%;
  padding: 13px 50px;
  background-color: #000;
  color: white;
  font-size: 25px;
  margin: 0 0 10px 0;
  &:focus {
    box-shadow: 0 0 20px rgba(150, 1, 1, 1);
  }
}

.btn {
  border: 1px solid #000;
  border-radius: 20%;
  padding: 13px;
  margin: 0 20px;
  background-color: rgb(200, 54, 100);
  color: wheat;
  font-size: 25px;
}
